/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/manrope-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/manrope-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* manrope-800 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('./fonts/manrope-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/manrope-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  :root{
      font-family: 'Manrope',sans-serif;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p
{
  margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 0.5rem 0.8rem;
    border-radius: 10rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    transition: 0.25s;
}

li:hover{
    background-color: #FFD5A3;
}

li:first-child{
    margin-right: 0.5rem;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #72C7C2;
  background-image: url(./imgs/hero.png);
  background-repeat: no-repeat;
  background-position: top 1rem right 3rem;
  background-size: 100vh;
  margin-top: 1rem;
}

.no-bg{
    background-image: none;
}

.hidden{
    visibility: hidden;
}

.hflex{
    display: flex;
}

.vflex{
    display: flex;
    flex-direction: column;
}

div#content{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

nav{
    justify-content: space-between;
    align-items: center;
}

section.hero{
    min-height:90vh;
    width: 65ch;
    justify-content: center;
}

.hero h2{
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 0.5rem;
}

.hero p{
    font-size: 2rem;
    width: 30ch;
    line-height: 130%;
    margin-bottom: 1.4rem;
    opacity: 0.8;
}

button{
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    width: 50%;
    border-radius: 40rem;
    border: none;
    background-color: #FFD5A3 ;
}

button,nav h1,li{
    cursor: pointer;
}

section.about{
    position: relative;
    margin-top: -2rem;
    z-index: -1;
}

.about h1{
    font-size: 15rem;
    line-height: 90%;
    margin-bottom: 2rem;
}

.about p{
    font-size: 2rem;
    width: 45ch;
    line-height: 130%;
    margin-bottom: 1rem;
    opacity: 0.8;
}

.about p:nth-last-child(2){
    margin-bottom: 2rem;
}

.about p#hours{
    font-weight: 800;
}

section.menu{
    margin-top: 2rem;
}

div.flavours{
    border: 5px solid white;
    border-radius: 10rem;
    padding: 2rem;
    height: 65ch;
    margin-bottom: 6rem;
}

div.flavours>h2{
    color:white;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
    top: -3.4rem;
    white-space: nowrap;
    background-color: #72C7C2;
    width: 14rem;
    margin-left: auto;
    margin-right: auto;
}

section.menu div.vflex{
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h3{
    background-color: #FFD5A3;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    width: 50%;
}

section.menu img{
    width: 75%;
}

